src/data/daten/xsd/sitze.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="wahlmetadaten_typ.xsd"/>
	<xs:include schemaLocation="ergebnis_typ.xsd"/>
	<xs:element name="Sitzverteilung">
		<xs:annotation>
			<xs:documentation>Gesamte Sitzverteilung</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="WahlMetadaten" type="WahlMetadatenType">
					<xs:annotation>
						<xs:documentation>Technische Metadaten dieser Wahl</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Gebiet" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Sitze für Gebiet</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="SainteLague" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Details der primären Sainte-Laguë-Verteilung auf die Bundesländer nach Bevölkerungsanteilen im BWahlG</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SitzeGruppe" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Sitze einer Gruppe in einem Gebiet (Bund / Land)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Frauen" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Anteil Frauen</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Gesamt" type="xs:nonNegativeInteger" use="required">
													<xs:annotation>
														<xs:documentation>Gesamtzahl Sitze für Frauen</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Prozent" type="ProzentType" use="optional">
													<xs:annotation>
														<xs:documentation>Prozentanteil Frauen</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="GesamtVgl" type="xs:nonNegativeInteger" use="optional">
													<xs:annotation>
														<xs:documentation>Gesamtzahl Frauen zur Vergleichswahl</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ProzentVgl" type="ProzentType" use="optional">
													<xs:annotation>
                                                        <xs:documentation>Prozentanteil Frauen zur Vergleichswahl
                                                        </xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Liste" type="xs:nonNegativeInteger" use="optional">
													<xs:annotation>
														<xs:documentation>Sitze, die über Listenstimmen an Frauen verteilt wurden</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ListeVgl" type="xs:nonNegativeInteger" use="optional">
													<xs:annotation>
														<xs:documentation>Sitze der Vergleichswahl, die für die Liste an Frauen verteilt wurden</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Direkt" type="xs:nonNegativeInteger" use="optional">
													<xs:annotation>
														<xs:documentation>Direktmandate für Frauen</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="DirektVgl" type="xs:nonNegativeInteger" use="optional">
													<xs:annotation>
														<xs:documentation>Direktmandate der Vergleichswahl, die von Frauen gewonnen wurden</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element ref="Algorithmus" minOccurs="0" maxOccurs="2"/>
									</xs:sequence>
									<xs:attribute name="Gruppe" type="GruppeType" use="required">
										<xs:annotation>
											<xs:documentation>Gruppenschlüssel</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Gesamt" type="xs:nonNegativeInteger" use="required">
										<xs:annotation>
											<xs:documentation>Gesamtzahl der Sitze der Gruppe in diesem Gebiet</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="GesamtVgl" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Anzahl Sitze bei Vergleichswahl</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DifferenzGesamt" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Gewinn/Verlust der Sitze</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="GesamtVorab" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Gesamtzahl der Sitze der Landesliste bei der Vorab-Verteilung (1. Verteilung bei BTW ab 2013) ohne Überhangmandate</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Liste" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Anzahl Sitze für die Liste</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ListeErschoepft" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Anzahl nicht besetzter Sitze</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ListeVgl" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Anzahl Sitze für die Liste bei Vergleichswahl</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Direkt" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Anzahl Direktmandate</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Ueberhang" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Anzahl Überhangmandate</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DirektVgl" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Anzahl Direktmandate bei Vergleichswahl</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Mindestsitzzahl" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Garantierte Mindestsitzzahl einer Partei bei der BTW ab 2013</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Ausgleich" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Anzahl der Ausgleichsmandate einer Partei bei der BTW ab 2013</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Gebietsart" type="GebietsartType" use="required"/>
						<xs:attribute name="Gebietsnummer" type="GebietNummerType" use="required"/>
						<xs:attribute name="Gebietsstand" type="xs:gYear" use="optional">
							<xs:annotation>
								<xs:documentation>Gebietsstand von Jahr, falls nicht aktuell</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ListenstimmenGesamt" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation>Summe der Anzahl der Stimmen aller Gruppen in diesem Gebiet, die an der Sainte-Laguë-Verteilung teilnehmen. Beim Bund: Anzahl der Wähler.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="BevoelkerungGesamt" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation>Summe der Bevölkerungszahlen aller Länder.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="SitzeGesamt" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation>Anzahl Sitze, die bei der Sainte-Laguë-Verteilung auf diesem Gebiet zu verteilen waren.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="SitzeErsteVerteilung" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation>Nur für den Bund bei der Bundestagswahl ab 2013: Anzahl Sitze, die in der Sainte-Laguë-Verteilung nach Bevölkerungszahlen zu verteilen waren.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="SitzeDirekt" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation>Nur für den Bund bei der Bundestagswahl ab 2013: Anzahl Direktmandate insgesamt.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="SitzeUeberhang" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation>Nur für den Bund bei der Bundestagswahl ab 2013: Anzahl Überhangmandate insgesamt.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="SitzeAusgleich" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation>Nur für den Bund bei der Bundestagswahl ab 2013: Anzahl Ausgleichsmandate insgesamt.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Mindestsitzzahl" type="xs:nonNegativeInteger" use="optional">
							<xs:annotation>
								<xs:documentation>Nur für den Bund bei der Bundestagswahl ab 2013: Summe der Mindestsitzzahlen der Parteien.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Berechnungsparameter" type="ParameterType" minOccurs="0" maxOccurs="2">
					<xs:annotation>
						<xs:documentation>Parameter für den 1. Lauf</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="VorbedingungType" abstract="true">
		<xs:annotation>
			<xs:documentation>Vorbedingungen für den Algorithmus</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Sitze" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Sitze, die durch den Algorithmus zugeteilt wurden</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Listenstimmen" type="xs:nonNegativeInteger" use="required">
			<xs:annotation>
				<xs:documentation>Anzahl der Stimmen, mit der diese Gruppe am Verfahren teilnimmt</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NiemeyerType">
		<xs:annotation>
			<xs:documentation>Zusätzliche Ergebnisdetails für Niemeyer-Verteilung</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="VorbedingungType">
				<xs:attribute name="Quote" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>Niemeyer-Quote</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Rest" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>Divisionsrest, der zur Verteilung verbleibender Sitze herangezogen wird</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeRest" use="required">
					<xs:annotation>
						<xs:documentation>Sitz, der aufgrund des größeren Divisionsrests zugeteilt wurde</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SainteLagueType">
		<xs:annotation>
			<xs:documentation>Zusätzliche Ergebnisdetails für Sainte-Laguë-Verteilung</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="VorbedingungType">
				<xs:sequence>
					<xs:element name="Rechengang" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Division">
									<xs:complexType>
										<xs:attribute name="Divisor" use="required">
											<xs:annotation>
												<xs:documentation>Sainte-Lague-Divisor</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:minExclusive value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="DivisorZaehler" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Sainte-Lague-Divisor (als gekürzter Bruch - hier der Zähler)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DivisorNenner" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Sainte-Lague-Divisor (als gekürzter Bruch - hier der Nenner)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DivisorGanze" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Sainte-Lague-Divisor (als gemischter Bruch - hier der ganze Anteil)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DivisorRest" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Sainte-Lague-Divisor (als gemischter Bruch - hier der Zähler)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="SitzeUngerundet" use="required">
											<xs:annotation>
												<xs:documentation>Sitze für die Liste vor der Rundung</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:minInclusive value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="SitzeUngerundetZaehler" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Anzahl Sitze für die Liste vor der Rundung (als gekürzter Bruch - hier der Zähler)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="SitzeUngerundetNenner" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Anzahl Sitze für die Liste vor der Rundung (als gekürzter Bruch - hier der Nenner)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="SitzeUngerundetGanze" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Anzahl Sitze für die Liste vor der Rundung (als gemischter Bruch - hier der ganze Anteil)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="SitzeUngerundetRest" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Anzahl Sitze für die Liste vor der Rundung (als gemischter Bruch - hier der Zähler)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="SitzeNachStimmenGerundet" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation>Anzahl der Sitze = (Stimmen / Divisor) gerundet</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Mindestsitzzahl" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation>Meist 0. Bei der zweiten Sekundärverteilung bei BTW ab 2013: Anzahl der Direktmandate</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="SitzeGerundet" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Sitze für die Liste, kaufmännisch gerundet</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="SummeSitzeGerundet" type="xs:nonNegativeInteger" use="required">
											<xs:annotation>
												<xs:documentation>Summe der kaufmännisch gerundeten Sitze für alle Listen, die an dieser Verteilung teilgenommen haben </xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="Divisorkandidat" type="DivisorkandidatType" minOccurs="0" maxOccurs="2"/>
							</xs:sequence>
							<xs:attribute name="Index" type="xs:positiveInteger" use="required">
								<xs:annotation>
									<xs:documentation>Iteration</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="IstDivisorGerundet" type="xs:boolean" use="required">
								<xs:annotation>
									<xs:documentation>true bei abschließedem Rechengang mit gerundetem Divisor</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="AbsoluteMehrheit" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Marker für Korrektur wegen absoluter Mehrheit</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="BerechnungsparameterRest" type="ParameterType">
									<xs:annotation>
										<xs:documentation>Parameter für die Restberechnung nach Korrektur</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Berechnungsparameter" type="ParameterType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Parameter für den 1. Lauf</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="SitzeUngerundetEnde" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="SitzeUngerundetZaehler" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Anzahl Sitze für die Liste vor der Rundung (als gekürzter Bruch - hier der Zähler)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeUngerundetNenner" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Anzahl Sitze für die Liste vor der Rundung (als gekürzter Bruch - hier der Nenner)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeUngerundetGanze" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Anzahl Sitze für die Liste vor der Rundung (als gemischter Bruch - hier der ganze Anteil)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeUngerundetRest" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Anzahl Sitze für die Liste vor der Rundung (als gemischter Bruch - hier der Zähler)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeGerundetEnde" type="xs:nonNegativeInteger" use="required"/>
				<xs:attribute name="VerteilungVorab" type="xs:boolean" use="optional" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SainteLagueMitAusgleichType">
		<xs:annotation>
			<xs:documentation>Zwischenergebnisse des Sainte-Laguë-Algorithmus mit Ausgleichmandaten bei der BTW ab 2013. Dieses Element enthält die Details der zweiten Primärverteilung für die Parteien auf Bundesebene.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="VorbedingungType">
				<xs:sequence>
					<xs:element name="Divisorkandidat" type="DivisorkandidatType" maxOccurs="2"/>
				</xs:sequence>
				<xs:attribute name="SitzeErsteVerteilung" type="xs:nonNegativeInteger" use="optional">
					<xs:annotation>
						<xs:documentation>Anzahl Sitze der Partei aus der ersten Verteilung ohne Überhangmandate.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Mindestsitzzahl" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Garantierte Mindessitzzahl der Partei</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Ausgleich" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Anzahl der Ausgleichsmandate</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgleichUngerundet" use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den abschließenden Divisor der zweiten Primärverteilung (in Dezimaldarstellung).</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgleichUngerundetZaehler" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den abschließenden Divisor der zweiten Primärverteilung (als gekürzter Bruch - hier der Zähler).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgleichUngerundetNenner" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den abschließenden Divisor der zweiten Primärverteilung (als gekürzter Bruch - hier der Nenner).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgleichUngerundetGanze" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den abschließenden Divisor der zweiten Primärverteilung (als gemischter Bruch - hier der ganze Anteil).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgleichUngerundetRest" type="xs:nonNegativeInteger" use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den abschließenden Divisor der zweiten
							Primärverteilung (als gemischter Bruch - hier der Rest).
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgewaehltemDivisorUngerundet" use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den "runden" aus dem Divisorintervall
							ausgewählten Divisor der zweiten Primärverteilung (in Dezimaldarstellung).
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgewaehltemDivisorUngerundetZaehler" type="xs:nonNegativeInteger"
							  use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den "runden" aus dem Divisorintervall
							ausgewählten Divisor der zweiten Primärverteilung (als gekürzter Bruch - hier der Zähler).
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgewaehltemDivisorUngerundetNenner" type="xs:nonNegativeInteger"
							  use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den "runden" aus dem Divisorintervall
							ausgewählten Divisor der zweiten Primärverteilung (als gekürzter Bruch - hier der Nenner).
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgewaehltemDivisorUngerundetGanze" type="xs:nonNegativeInteger"
							  use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den "runden" aus dem Divisorintervall
							ausgewählten Divisor der zweiten Primärverteilung (als gemischter Bruch - hier der ganze
							Anteil).
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="SitzeMitAusgewaehltemDivisorUngerundetRest" type="xs:nonNegativeInteger"
							  use="required">
					<xs:annotation>
						<xs:documentation>Ergebnis der Division der Stimmen durch den "runden" aus dem Divisorintervall
							ausgewählten Divisor der zweiten Primärverteilung (als gemischter Bruch - hier der Rest).
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Mehrheitssicherung" type="xs:positiveInteger">
					<xs:annotation>
						<xs:documentation>Zusatzsitze aus der Mehrheitssicherungsklausel</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DivisorkandidatType">
		<xs:attribute name="Korrektur" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:enumeration value="+0.5"/>
					<xs:enumeration value="+1.5"/>
					<xs:enumeration value="-0.5"/>
					<xs:enumeration value="-1.5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SitzeVeraendert" type="xs:decimal" use="required"/>
		<xs:attribute name="Divisorkandidat" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minExclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DivisorkandidatZaehler" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="DivisorkandidatNenner" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="DivisorkandidatGanze" type="xs:nonNegativeInteger" use="required">
			<xs:annotation>
				<xs:documentation>Divisorkandidat (als gemischter Bruch - hier der ganze Anteil).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DivisorkandidatRest" type="xs:nonNegativeInteger" use="required">
			<xs:annotation>
				<xs:documentation>Divisorkandidat (als gemischter Bruch - hier der Zähler).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MinMax" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="min"/>
					<xs:enumeration value="max"/>
					<xs:enumeration value="kein"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StartParameterType">
		<xs:annotation>
			<xs:documentation>Startparameter für die erste Verteilung</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="AlgorithmusStartParameter"/>
		</xs:sequence>
		<xs:attribute name="SitzeGesamt" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="ListenstimmenGesamt" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="ParameterType">
		<xs:annotation>
			<xs:documentation>Parameter für die erste Verteilung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AlgorithmusStartParameter"/>
			<xs:element ref="AlgorithmusEndParameter"/>
		</xs:sequence>
		<xs:attribute name="VerteilungVorab" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="SitzeGesamt" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="ListenstimmenGesamt" type="xs:positiveInteger" use="required"/>
	</xs:complexType>
	<xs:element name="AlgorithmusStartParameter" abstract="true">
		<xs:annotation>
			<xs:documentation>Algorithmus-Start-Parameter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AlgorithmusEndParameter" abstract="true">
		<xs:annotation>
			<xs:documentation>Algorithmus-End-Parameter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SainteLagueStartParameter" substitutionGroup="AlgorithmusStartParameter">
		<xs:annotation>
			<xs:documentation>Konkrete Algorithmus-Start-Parameter für Sainte-Laguë-Verteilung</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="DivisorAnfang" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minExclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SainteLagueEndParameter" substitutionGroup="AlgorithmusEndParameter">
		<xs:annotation>
			<xs:documentation>Konkrete Algorithmus-End-Parameter für Sainte-Laguë-Verteilung</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="DivisorEnde" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minExclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SummeSitzeGerundetEnde" type="xs:positiveInteger" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Algorithmus" type="VorbedingungType" abstract="true">
		<xs:annotation>
			<xs:documentation>Zwischenergebnisse des Algorithmus</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Niemeyer" type="NiemeyerType" substitutionGroup="Algorithmus">
		<xs:annotation>
			<xs:documentation>Zwischenergebnisse des Niemeyer-Algorithmus</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SainteLague" substitutionGroup="Algorithmus">
		<xs:annotation>
			<xs:documentation>Zwischenergebnisse des Sainte-Laguë-Algorithmus</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SainteLagueType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SainteLagueMitAusgleich" substitutionGroup="Algorithmus">
		<xs:annotation>
			<xs:documentation>Zwischenergebnisse des Sainte-Laguë-Algorithmus mit Ausgleichmandaten bei der BTW ab 2013. Dieses Element enthält die Details der zweiten Primärverteilung für die Parteien auf Bundesebene.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SainteLagueMitAusgleichType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
