src/data/daten/xsd/wahlmetadaten_typ.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="simple_types.xsd" />
	<xs:complexType name="WahlMetadatenType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Fachliche Metadaten
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="File">
				<xs:annotation>
					<xs:documentation xml:lang="de">Angaben zur Datei bei
						deren Erstellung</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Ursprungsname" type="xs:string"
						use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Dateiname bei der
								Erstellung der Datei</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Erstellungszeit" type="xs:dateTime"
						use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zeitstempel der
								Erstellung der Datei</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ErstellungszeitMillis" type="xs:long"
						use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="de">Erstellzeit der Datei
								als Long, benötigt für die Präsentation</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Ursprungsserver" type="xs:string"
						use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Rechner auf dem die
								Datei ursprünglich erstellt wurde</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="FileVersion" type="xs:positiveInteger"
						use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Version des
								Ergebnisses bezüglich der gleichen Ergebnisart.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Wahl">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wahl zu der die Datei
						gehört</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Hinweis" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Anzeigetext zur Wahl, bei Referenda der
									Gegenstand des Referendums</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Wahlart" type="WahlartType" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Aktuelle Wahlart
								(Europawahl, Bundestagswahl, ...)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Wahltermin" type="xs:date" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">aktueller Wahltermin
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="WahlterminVorp" type="xs:date"
						use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="de">Termin der Wahlen zur
								Vorperiode</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="WahlId" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="de">Eindeutige
								Identifikation der dem Export zugrunde liegenden Wahl
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GebietsartAuswertungseinheit"
						type="GebietsartType" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="de">Unterste
								Gebietsstufe, die publiziert wird. I.d.R. Kreis/Wahlkreis. Wenn
								nicht anders angegeben, werden alle Gebietsergebnisse exportiert
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GebietsartWahleinheit" type="GebietsartType"
						use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="de">Gebietsart zu der die
								Wahleinheiten gehören (kleinste eigenständige Einheiten;
								Wahleinheiten bestimmen bestimmte Einstellungen, wie Nachwahl)
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GebietsartFExport" type="GebietsartType"
						use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="de">Gebietsart für die
								die F-Dateien erzeugt werden - wichtig, wenn diese an das
								übergeordnete System weritergereicht werden</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GebietsartBestaetigung" type="GebietsartType"
						use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="de">Gebietsart, auf der
								die Bestätigung der Teilergebnisse stattfindet, und damit die
								Übergabe der Verantwortung für die Daten</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Struktur" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Strukturdaten im
						exportierenden System</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Gebiete" type="xs:gYear" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Wahljahr, zu dem die
								Gebietsdaten Anzahl, Nummer und Reihenfolge der Gebietsdaten
								gehören</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ParteienKandidaten" type="xs:gYear"
						use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Wahljahr, zu dem die
								Strukturdaten Parteien und Kandidaten gehören</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Reihenfolgen" type="xs:gYear" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Wahljahr, zu dem die
								Reihenfolgen der Parteien in Bund, Land und auf dem Stimmzettel
								gehören</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Lauf" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung des
						Erstellungslaufs der Datei</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Daten">
							<xs:annotation>
								<xs:documentation xml:lang="de">Art der exportierten
									Wahldaten</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="Eingabe" type="WahlergebnisartType"
									use="required">
									<xs:annotation>
										<xs:documentation xml:lang="de">Art der Daten, die
											beim Programmlauf ins System eingegeben werden (Vorl, Endg,
											BW)</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Vergleich" type="WahlergebnisartType"
									use="required">
									<xs:annotation>
										<xs:documentation xml:lang="de">Art der
											eingestellten Vergleichsdaten</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="WahlartVgl2" type="WahlartType"
									use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="de">Wahlart der
											Vergleichsdaten, falls von aktueller Wahlart verschieden
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="WahlterminVgl2" type="xs:gYear"
									use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="de">Wahljahr der
											Vergleichsdaten</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Qualitaet" type="QualitaetType"
									use="required">
									<xs:annotation>
										<xs:documentation xml:lang="de">TEST oder
											PRODUKTION</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Status" type="StatusType" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="de">Aktueller Status
											der Eingabe</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="ZustSeqNr" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="de">Anzahl der
											Einträge im Ergebniseingang für die dem Export zugrunde
											liegende Wahl</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Allgemein" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Angaben, die die
									Grundlage der Auswertung (Vorbedingungen) darstellen
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Besonderheit" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="de">Besonderheiten,
												die als Vorbedingung feststehen</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation xml:lang="de">eine beliebige
													Besonderheit, die bei der Wahl auftreten kann
												</xs:documentation>
											</xs:annotation>
											<xs:attribute name="Art" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="de">Art der
														Besonderheit</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:NMTOKEN">
														<xs:enumeration value="AUSSCHERENDE_LISTE">
															<xs:annotation>
																<xs:documentation xml:lang="de">Ausscherende
																	Liste</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="NACHWAHL_SPAETER">
															<xs:annotation>
																<xs:documentation xml:lang="de">Nachwahl zu
																	einem späteren Zeitpunkt angeordnet</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="NACHWAHL_AM_WAHLTAG">
															<xs:annotation>
																<xs:documentation xml:lang="de">Nachwahl am
																	Wahltag angeordnet</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attributeGroup ref="LesbarUndGruppe" />
											<xs:attributeGroup ref="Gebiet" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Stimmeingabe" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Angaben, die während
									der Stimmeingabe bis zur Sitzverteilung feststehen
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Eingabestand">
										<xs:annotation>
											<xs:documentation xml:lang="de">Stand der Eingabe
												zum Exportzeitpunkt</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="AuswertungseinheitenEingegangen"
												type="xs:nonNegativeInteger" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="de">Anzahl der
														bisher im Lauf eingegangenen gültigen Auswertungseinheiten
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="AuswertungseinheitenGesamt"
												type="xs:positiveInteger" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="de">Gesamtzahl der
														Auswertungseinheiten dieser Wahl</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="LetzteAuswertungseinheit"
												type="xs:positiveInteger" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="de">Nummer der
														zuletzt eingegangenen Auswertungseinheit
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="Eingang" type="xs:dateTime"
												use="required">
												<xs:annotation>
													<xs:documentation xml:lang="de">Zeitstempel
														Eingang letzte Auswertungseinheit</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Besonderheit" minOccurs="0"
										maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="de">Besonderheiten
												bei Auswertungen vor der Sitzverteilung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation xml:lang="de">eine beliebige
													Besonderheit, die bei der Wahl auftreten kann
												</xs:documentation>
											</xs:annotation>
											<xs:sequence minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="de">Nicht bei
														KEINE_DATEN</xs:documentation>
												</xs:annotation>
												<xs:element name="Alternative" minOccurs="2"
													maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="de">ggfs.
															resultierende Alternativen, zwischen denen entschieden
															werden muss</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="AlternativeType">
																<xs:attribute name="Gruppe" type="GruppeType"
																	use="optional">
																	<xs:annotation>
																		<xs:documentation xml:lang="de">Gruppenschlüssel
																			des jeweiligen Siegers</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="Art" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="de">Art der
														Besonderheit</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:NMTOKEN">
														<xs:enumeration value="ERSTSTIMMEN_GLEICHHEIT">
															<xs:annotation>
																<xs:documentation xml:lang="de">Stimmengleichheit
																	bei Direktwahl oder Mehrheitswahl</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
														<xs:enumeration value="KEINE_DATEN">
															<xs:annotation>
																<xs:documentation xml:lang="de">Nachwahl zum
																	späteren Zeitpunkt oder Ausbleiben</xs:documentation>
															</xs:annotation>
														</xs:enumeration>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attributeGroup ref="Lesbar" />
											<xs:attributeGroup ref="Gebiet" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Sitzverteilung" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="de">Eingabe
									abgeschlossen, Beginn der Sitzberechnung</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Stimmeingabe" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="de">Entscheidung zu
												Besonderheiten, die während der Stimmeingabe bis zur
												Sitzverteilung entstanden sind</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Entscheidung" type="EntscheidungType"
													maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="de">Gewählte
															Alternative</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Allgemein" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="de">Bei Beginn der
												Berechnung bekannte Besonderheiten</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Besonderheit" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="de">Bei Beginn der
															Niemeyerberechnung bekannte Besonderheiten
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:annotation>
															<xs:documentation xml:lang="de">eine
																beliebige Besonderheit, die bei der Wahl auftreten kann
															</xs:documentation>
														</xs:annotation>
														<xs:sequence minOccurs="0">
															<xs:element name="Alternative" minOccurs="2"
																maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation xml:lang="de">ggfs.
																		resultierende Alternativen, zwischen denen entschieden
																		werden muss</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="AlternativeType">
																			<xs:attribute name="Gruppe" type="GruppeType"
																				use="optional">
																				<xs:annotation>
																					<xs:documentation xml:lang="de">Gruppenschlüssel
																						des jeweiligen Siegers</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																			<xs:attribute name="Behandlung" type="BehandlungType"
																				use="optional">
																				<xs:annotation>
																					<xs:documentation>Nur bei Besonderheit
																						BEHANDLUNG_WENN_KEINE_DATEN: Definiert die
																						Behandlung der Gebiete, für die keine Daten
																						geliefert werden können, bei der Berechnung
																					</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="Entscheidung" type="EntscheidungType">
																<xs:annotation>
																	<xs:documentation xml:lang="de">Gewählte
																		Alternative</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="Art" use="required">
															<xs:annotation>
																<xs:documentation xml:lang="de">Art der
																	Besonderheit</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:NMTOKEN">
																	<xs:enumeration value="TEILNAHME_MINDERHEIT">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Minderheit
																				nimmt teil</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="TEILNAHME_DREI_DIREKTMANDATE">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Partei
																				nimmt wegen >= 3 Direktmandaten teil
																			</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="BWG_ARTIKEL6_ABSATZ1_SATZ3">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Kandidat(in)
																				gewinnt Wahlkreis gemäß §6 Abs. 1 Satz 3 BWG
																			</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="KEINE_TEILNAHME_PARTEI_HAT_SITZE">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Partei
																				gewinnt Sitze durch Direktmandate nimmt allerdings
																				nicht an der Verteilung nach Niemeyer teil
																			</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="KEINE_PARTEI_PASSIERT_HUERDE">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Keine
																				Partei nimmt am Sitzverteilungsverfahren Teil, weil
																				keine Partei die Hürde passiert hat
																			</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="BEHANDLUNG_WENN_KEINE_DATEN">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Behandlung
																				der Gebiete (i.d.R. Wahlkreise), für die keine Daten
																				übermittelt wurden, bezüglich der Berechnung
																			</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attributeGroup ref="LesbarUndGruppe" />
														<xs:attributeGroup ref="Gebiet" />
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="Verteilung1" minOccurs="0" />
									<xs:element ref="Verteilung2" minOccurs="0" />
									<xs:element name="Sitze" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="de">Resultierende
												Sitzverteilung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Besonderheit" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="de">Besonderheiten
															bei der Verteilung der Sitze</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:annotation>
															<xs:documentation xml:lang="de">eine
																beliebige Besonderheit, die bei der Wahl auftreten kann
															</xs:documentation>
														</xs:annotation>
														<xs:attribute name="Art" use="required"
															fixed="UEBERHANGMANDATE">
															<xs:annotation>
																<xs:documentation xml:lang="de">Art der
																	Besonderheit (hier: Überhang)</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:NMTOKEN">
																	<xs:enumeration value="UEBERHANGMANDATE">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Überhangmandate
																			</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attributeGroup ref="LesbarUndGruppe" />
														<xs:attribute name="Land" type="LandType"
															use="required">
															<xs:annotation>
																<xs:documentation xml:lang="de">Land, in dem
																	Überhänge entstanden sind</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Anzahl" type="xs:positiveInteger"
															use="required">
															<xs:annotation>
																<xs:documentation xml:lang="de">Anzahl der
																	Überhangmandate</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Gewaehlte" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="de">Erstellung der
												Liste der Gewählten</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Besonderheit" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="de">Bei
															Namensliste aufgetretene Besonderheiten
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:annotation>
															<xs:documentation xml:lang="de">eine
																beliebige Besonderheit, die bei der Wahl auftreten kann
															</xs:documentation>
														</xs:annotation>
														<xs:sequence minOccurs="0">
															<xs:element name="Alternative" minOccurs="2"
																maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation xml:lang="de">ggfs.
																		resultierende Alternativen, zwischen denen entschieden
																		werden muss</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="AlternativeType">
																			<xs:attributeGroup ref="Gebiet" />
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="Entscheidung" type="EntscheidungType">
																<xs:annotation>
																	<xs:documentation xml:lang="de">Gewählte
																		Alternative</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="Art" use="required">
															<xs:annotation>
																<xs:documentation xml:lang="de">Art der
																	Besonderheit</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:NMTOKEN">
																	<xs:enumeration value="ERSATZBEWERBER_GEWAEHLT">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Ein
																				Ersatzbewerber wurde statt des regulären Bewerbers
																				gewählt</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration value="ERSCHOEPFTE_LISTE">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Erschöpfte
																				Liste</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration
																		value="AUSGESCHIEDENER_BEWERBER_UEBERSPRUNGEN">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Ausgeschiedener
																				Bewerber wurde bei der Sitzvergabe auf der Liste
																				ausgelassen</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration
																		value="BEREITS_GEWAEHLTER_BEWERBER_UEBERSPRUNGEN">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Bereits
																				auf einer anderen Liste gewählter Bewerber wurde bei
																				der Sitzvergabe auf der Liste ausgelassen
																			</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																	<xs:enumeration
																		value="DOPPELT_GEWAEHLTER_BEWERBER_GLEICHER_PLATZ">
																		<xs:annotation>
																			<xs:documentation xml:lang="de">Bewerber
																				wurde auf zwei Listen in gleicher Listenposition
																				gewählt</xs:documentation>
																		</xs:annotation>
																	</xs:enumeration>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attributeGroup ref="LesbarUndGruppe" />
														<xs:attributeGroup ref="Gebiet" />
														<xs:attribute name="Platz" type="PlatzType"
															use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="de">Listenplatz,
																	bei dem die Besonderheit auftritt</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Anzahl" type="xs:positiveInteger"
															use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="de">Anzahl der
																	betroffenen Sitze</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
							<xs:key name="SitzverteilungAllgemeinAlternative">
								<xs:annotation>
									<xs:documentation xml:lang="de">Ziel der Beziehung
										zwischen der Entscheidung und der Alternative für die
										allgemeinen Besonderheiten der Sitzverteilung
									</xs:documentation>
								</xs:annotation>
								<xs:selector xpath="Allgemein/Besonderheit/Alternative" />
								<xs:field xpath="@Id" />
							</xs:key>
							<xs:keyref name="SitzverteilungAllgemeinAlternativeRef"
								refer="SitzverteilungAllgemeinAlternative">
								<xs:annotation>
									<xs:documentation xml:lang="de">Quelle der
										Beziehung zwischen der Entscheidung und der Alternative für
										die allgemeinen Besonderheiten der Sitzverteilung
									</xs:documentation>
								</xs:annotation>
								<xs:selector xpath="Allgemein/Besonderheit/Entscheidung" />
								<xs:field xpath="@Alternative" />
							</xs:keyref>
							<xs:key name="SitzverteilungVerteilung1Alternative">
								<xs:annotation>
									<xs:documentation xml:lang="de">Ziel der Beziehung
										zwischen der Entscheidung und der Alternative für die
										Niemeyerverteilung 1</xs:documentation>
								</xs:annotation>
								<xs:selector xpath="Verteilung1/Besonderheit/Alternative" />
								<xs:field xpath="@Id" />
							</xs:key>
							<xs:keyref name="SitzverteilungVerteilung1AlternativeRef"
								refer="SitzverteilungVerteilung1Alternative">
								<xs:annotation>
									<xs:documentation xml:lang="de">Quelle der
										Beziehung zwischen der Entscheidung und der Alternative für
										die Niemeyerverteilung 1</xs:documentation>
								</xs:annotation>
								<xs:selector xpath="Verteilung1/Besonderheit/Entscheidung" />
								<xs:field xpath="@Alternative" />
							</xs:keyref>
							<xs:key name="SitzverteilungVerteilung2Alternative">
								<xs:annotation>
									<xs:documentation xml:lang="de">Ziel der Beziehung
										zwischen der Entscheidung und der Alternative für die
										Niemeyerverteilung 2</xs:documentation>
								</xs:annotation>
								<xs:selector xpath="Verteilung2/Besonderheit/Alternative" />
								<xs:field xpath="@Id" />
							</xs:key>
							<xs:keyref name="SitzverteilungVerteilung2AlternativeRef"
								refer="SitzverteilungVerteilung2Alternative">
								<xs:annotation>
									<xs:documentation xml:lang="de">Quelle der
										Beziehung zwischen der Entscheidung und der Alternative für
										die Niemeyerverteilung 2</xs:documentation>
								</xs:annotation>
								<xs:selector xpath="Verteilung2/Besonderheit/Entscheidung" />
								<xs:field xpath="@Alternative" />
							</xs:keyref>
							<xs:key name="SitzverteilungGewaehlteAlternative">
								<xs:annotation>
									<xs:documentation xml:lang="de">Ziel der Beziehung
										zwischen der Entscheidung und der Alternative für die
										Gewählten</xs:documentation>
								</xs:annotation>
								<xs:selector xpath="Gewaehlte/Besonderheit/Alternative" />
								<xs:field xpath="@Id" />
							</xs:key>
							<xs:keyref name="SitzverteilungGewaehlteAlternativeRef"
								refer="SitzverteilungGewaehlteAlternative">
								<xs:annotation>
									<xs:documentation xml:lang="de">Quelle der
										Beziehung zwischen der Entscheidung und der Alternative für
										die Gewählten</xs:documentation>
								</xs:annotation>
								<xs:selector xpath="Gewaehlte/Besonderheit/Entscheidung" />
								<xs:field xpath="@Alternative" />
							</xs:keyref>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Programm" type="ProgrammType" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">WAS, WUS-WEB,
								WUS-OVIS, WUS-NATURAL</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Version" type="VersionType" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Wahljahr /
								Versionsnummer</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Startzeit" type="xs:dateTime" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zeitstempel incl.
								Datum/Uhrzeit</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Master" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Master in der
								Serverstruktur</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Server" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="de">Name des Servers, auf
								dem der Lauf stattfand</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
				<xs:key name="StimmeingabeAlternative">
					<xs:annotation>
						<xs:documentation xml:lang="de">Ziel der Beziehung
							zwischen der Entscheidung und der Alternative für die
							Besonderheiten der Stimmeingabe</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="Stimmeingabe/Besonderheit/Alternative" />
					<xs:field xpath="@Id" />
				</xs:key>
				<xs:keyref name="StimmeingabeAlternativeRef" refer="StimmeingabeAlternative">
					<xs:annotation>
						<xs:documentation xml:lang="de">Quelle der Beziehung
							zwischen der Entscheidung und der Alternative für die
							Besonderheiten der Stimmeingabe</xs:documentation>
					</xs:annotation>
					<xs:selector xpath="Sitzverteilung/Stimmeingabe/Entscheidung" />
					<xs:field xpath="@Alternative" />
				</xs:keyref>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlternativeType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Basistyp für eine
				Alternative (nur die ID)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="de">ID der Alternative,
					beginnt mit a und ist dokumentweit eindeutig</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:ID">
					<xs:pattern value="a\d+" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EntscheidungType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Basistyp für eine
				gewählte Alternative. Bezieht sich immer auf eine bestimmte
				Alternative einer Besonderheit</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Alternative" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="de">ID der zugehörigen
					Alternative</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:IDREF">
					<xs:pattern value="a\d+">
						<xs:annotation>
							<xs:documentation xml:lang="de">Beginnt mit "a"
								gefolgt von einer mindestens einstelligen Ziffer
							</xs:documentation>
						</xs:annotation>
					</xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ProgrammType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datentyp für die Art der
				verwendeten Software</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="WAS">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wahlabwicklungssystem
						(von der IVU)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WUS-WEB">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wahlunterstützungssystem
						mit Web-Schnittstelle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WUS-OVIS">
				<xs:annotation>
					<xs:documentation xml:lang="de">OVIS-basiertes
						Wahlunterstützungssystem</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WUS-NATURAL">
				<xs:annotation>
					<xs:documentation xml:lang="de">Adabas-Natural-basiertes
						Wahlunterstützungssystem</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WahlartType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datentyp für die Wahlart
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="EUROPAWAHL_LAND">
				<xs:annotation>
					<xs:documentation xml:lang="de">Europawahl auf
						Landesebene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EUROPAWAHL_BUND">
				<xs:annotation>
					<xs:documentation xml:lang="de">Europawahl auf
						Bundesebene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BUNDESTAGSWAHL_LAND">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bundestagswahl auf
						Landesebene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BUNDESTAGSWAHL_BUND">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bundestagswahl auf
						Bundesebene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LANDTAGSWAHL_SL">
				<xs:annotation>
					<xs:documentation xml:lang="de">Landtagswahl Saarland
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KREISTAGSWAHL_SL">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kreistagswahl Saarland
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORTSRATSWAHL_SL">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ortsratswahl Saarland
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GEMEINDEWAHL_SL">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gemeinderatswahl
						Saarland</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BMWAHL_SL">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bürgermeisterwahl
						Saarland</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LANDRATSWAHL_SL">
				<xs:annotation>
					<xs:documentation xml:lang="de">Landratswahl Saarland
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QualitaetType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datentyp für die Qualität
				(=Modus)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="TEST">
				<xs:annotation>
					<xs:documentation xml:lang="de">Testbetrieb der
						Applikation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRODUKTION">
				<xs:annotation>
					<xs:documentation xml:lang="de">Produktionsbetrieb der
						Applikation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersionType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datentyp für die Version
				der verwendeten Software</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+(\.\d+(\.\d+)?)?">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ein bis mehrstellige
						Nummer, evtl. gefolgt von einem Punkt und einer weiteren Nummer,
						evtl. gefolgt von einem Punkt und einer weiteren Nummer
					</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datentyp für die Angabe
				des aktuellen Status der Eingabe</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INITIAL">
				<xs:annotation>
					<xs:documentation xml:lang="de">Initialer Status vor
						dem ersten Eingang</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZWISCHENERGEBNIS">
				<xs:annotation>
					<xs:documentation xml:lang="de">Vorübergehendes
						vorläufiges Ergebnis einer Wahl bis zum Erreichen der
						Vollständigkeit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VORLAEUFIG">
				<xs:annotation>
					<xs:documentation xml:lang="de">Vorläufiges Ergebnis
						einer Wahl</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENDGUELTIG">
				<xs:annotation>
					<xs:documentation xml:lang="de">Endgültiges Ergebnis
						einer Wahl</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BehandlungType">
		<xs:annotation>
			<xs:documentation>Datentyp für die Art der Behandlung von Gebeiten,
				für die keine Daten übermittelt werden</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NICHT_BERUECKSICHTIGT" />
			<xs:enumeration value="HOCHRECHNUNG" />
			<xs:enumeration value="VORPERIODE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Verteilung1" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="de">abstrakte erste Phase der
				Verteilung</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Verteilung1Type">
		<xs:annotation>
			<xs:documentation>Datentyp für die Besonderheiten der ersten Phase
				der Verteilung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Besonderheit" type="BesonderheitType"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Besonderheiten in der
						ersten Phase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Niemeyer1" type="Verteilung1Type"
		substitutionGroup="Verteilung1">
		<xs:annotation>
			<xs:documentation xml:lang="de">konkrete erste Phase der
				Verteilung nach Niemeyer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SainteLague1" type="Verteilung1Type"
		substitutionGroup="Verteilung1">
		<xs:annotation>
			<xs:documentation xml:lang="de">konkrete erste Phase der
				Verteilung nach Sainte-Laguë</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Verteilung2" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="de">abstrakte zweite Phase
				der Verteilung</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Verteilung2Type">
		<xs:annotation>
			<xs:documentation>Datentyp für die Besonderheiten der zweiten Phase
				der Verteilung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Besonderheit" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Besonderheiten in der
						zweiten Phase</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:documentation xml:lang="de">eine beliebige
							Besonderheit, die bei der Wahl auftreten kann</xs:documentation>
					</xs:annotation>
					<xs:sequence minOccurs="0">
						<xs:element name="Alternative" minOccurs="2" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="de">ggfs. resultierende
									Alternativen, zwischen denen entschieden werden muss
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="AlternativeType">
										<xs:attributeGroup ref="Gebiet">
											<xs:annotation>
												<xs:documentation>In dieser Alternative bevrzugtes Gebiet
													(Gebietsangabe in einer Besonderheit)</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Entscheidung" type="EntscheidungType">
							<xs:annotation>
								<xs:documentation xml:lang="de">Gewählte Alternative
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Art" use="required" fixed="RESTANTEILE_GLEICH">
						<xs:annotation>
							<xs:documentation xml:lang="de">Art der Besonderheit
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="RESTANTEILE_GLEICH">
									<xs:annotation>
										<xs:documentation xml:lang="de">Gleiche
											Restanteile im Niemeyer-Verfahren</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attributeGroup ref="LesbarUndGruppe" />
					<xs:attributeGroup ref="Gebiet" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Niemeyer2" type="Verteilung2Type"
		substitutionGroup="Verteilung2">
		<xs:annotation>
			<xs:documentation xml:lang="de">konkrete zweite Phase der
				Verteilung nach Niemeyer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SainteLague2" type="Verteilung2Type"
		substitutionGroup="Verteilung2">
		<xs:annotation>
			<xs:documentation xml:lang="de">konkrete zweite Phase der
				Verteilung nach Sainte-Laguë</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:attributeGroup name="Lesbar">
		<xs:annotation>
			<xs:documentation xml:lang="de">lesbarer Teil der
				Besonderheit</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Bemerkung" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="de">Zusatzinformation zu
					dieser Besonderheit im Allgemeinen</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Details" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="de">Genauer Inhalt der
					konkreten Besonderheit in lesbarer Form</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="LesbarUndGruppe">
		<xs:annotation>
			<xs:documentation xml:lang="de">lesbarer Teil + ein auf
				eine Gruppe sich beziehender Teil einer Besonderheit
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="Lesbar" />
		<xs:attribute name="Gruppe" type="GruppeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="de">Schlüssel der
					betroffenen Gruppe</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="Gebiet">
		<xs:annotation>
			<xs:documentation xml:lang="de">Gebietsangabe in einer
				Besonderheit</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Gebietsart" type="GebietsartType"
			use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="de">Art des Gebietes, in dem
					die Besonderheit aufgetreten ist</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Gebietsnummer" type="GebietNummerType"
			use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="de">Nummer des Gebietes, in
					dem die Besonderheit aufgetreten ist</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="BesonderheitType">
		<xs:annotation>
			<xs:documentation xml:lang="de">eine beliebige
				Besonderheit, die bei der Wahl auftreten kann</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="Alternative" minOccurs="2" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">ggfs. resultierende
						Alternativen, zwischen denen entschieden werden muss
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AlternativeType">
							<xs:attribute name="Gruppe" type="GruppeType" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="de">Gruppenschlüssel
										der bevorzugten Gruppe</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Entscheidung" type="EntscheidungType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gewählte Alternative
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Art" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="de">Art der Besonderheit
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="PARTEI_50_PROZENT_KORREKTUR">
						<xs:annotation>
							<xs:documentation xml:lang="de">Partei hat mehr als
								50% der Listenstimmen (bezüglich der am Niemeyer-Verfahren
								teilnehmenden Parteien), erhält die Mehrheit der Sitze aber erst
								durch Korrektur</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="RESTANTEILE_GLEICH">
						<xs:annotation>
							<xs:documentation xml:lang="de">Gleiche Restanteile
								im Niemeyer-Verfahren</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="RESTANTEILE_TEMPORAER_GLEICH">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprünglich gleiche
								Restanteile im Niemeyer-Verfahren durch Korrektur wegen Mehrheit
								behoben</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="LesbarUndGruppe" />
	</xs:complexType>
</xs:schema>
